@import "tailwindcss";


@theme{
  --color-primary: #0B5D1E;
  --color-secondary: #EBFFF1;
  --color-tPrimary: #1A1A1A;
  --text-heading2: 40px;
  --font-heading2weight: 700;
  --leading-heading2leading: 48px;
  --tracking-heading2tracking: -0.01%;
  --text-heading3: 24px;
  --font-heading3weight: 500;
  --leading-heading3leading: 32px;
  --tracking-heading3tracking: 0.01%;
  --text-body: 16px;
  --font-bodyweight: 400;
  --leading-bodyleading: 24px;
  --tracking-bodytracking: 0.01%;
}